.top {
    display: flex;
    flex-direction: column;
}
header {
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    background-color: white;
    width: 100%;
    height: 35px;
}
.upper {
    position: relative;
    background-color: rgba(0, 0, 0, 1);
    height: 30px;
    width: 100%;
}
.logo img {
    width: auto;
    height: 50px;
    margin-left: none;
    margin-right: 0px;
    padding: 0;
}
.logo {
    display: flex;
    align-items: center;    
}
.logo-text {
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
}
.navbar{
    display: flex;
    margin-left: auto;
    margin-right: 25px;
    align-items: center;
}
.navbar a {
    text-decoration: none;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
    margin: 10px;
    transition: transform 0.3s ease-in-out; 
}
.navbar a:hover {
    transform: scale(1.1);
}
.content {
    display: flex;
    flex-direction: row;
    background-color: rgb(25 25 35);
    color: white;
    position: relative;
    width:100%;
    height: 85vh;
}
.content img {
    width: auto;
    height: 70%;
    position: relative;
    top: 100px;
    left: 150px;
    animation: float 5s ease-in-out infinite;
}

@keyframes float {
    0% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
    100% { transform: translateY(0); }
}
.descript {
    position: relative;
    left: 100px;
    top: 130px;
    width: 700px;
    height: 70vh;
}

.descript h1 {
    font-size: 3.5rem;
    margin: 0;
    padding: 0;
    font-family: "Hachi Maru Pop", cursive;
    font-weight: 500;
    font-style: normal;
}
.ee {
    color: yellow;
}
.descript h2 {
    font-size: 2.7rem;
    font-weight: 500;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.descript p {
    font-family: cursive;
    font-size: 1rem;
    margin: 0;
}
.para {
    position: relative;
    top: 20px;
}
button {
    position: relative;
    top: 50px;
    background-color: rgb(0, 0, 0, 0);
    color: white;
    border: 2px solid white;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 10px;
    transition: background-color 0.3s ease, color 0.3s ease,border-color 0.3s ease;
}

button:hover {
    background-color: white;
    color: rgb(25 25 35);
    border-color: rgb(25 25 35);
}
footer {
    background-color: rgb(0, 0, 0, 1);
    width: 100%;
    height: 30px;
    position: relative;
}
form{
    background-color: rgb(25 25 35);
}
input[type="text"]
{
    background-color: transparent;
    border: 2px solid white;
    border-radius:  20px; 
    width: 60%;
    height: 33px;
    margin: 10px;
    position: relative;
    left: 90px;
    color: azure;
    padding-left:20px;
}
input::placeholder
{
    color: azure;
}
input[type="submit"]
{
    position: relative;
    left: 90px;
    width: 80px;
    height: 30px;
    border: 2px solid white;
    background-color: #efef5c;
    border-radius: 25px;
    font-family: cursive;
    font-size: 15px;
    padding-bottom: 5px;
    top: 4px;
    text-align: center;
    cursor: pointer;
}